[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "bundle/Atom"]
	path = bundle/Atom
	url = https://github.com/zaiste/Atom.git
[submodule "bundle/easybuffer.vim"]
	path = bundle/easybuffer.vim
	url = https://github.com/troydm/easybuffer.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/badwolf"]
	path = bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/signal_dec_VHDL"]
	path = bundle/signal_dec_VHDL
	url = https://github.com/vim-scripts/signal_dec_VHDL.git
[submodule "bundle/fugitive.vim"]
	path = bundle/fugitive.vim
	url = https://github.com/vim-scripts/fugitive.vim.git
[submodule "bundle/vim-yankstack"]
	path = bundle/vim-yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack.git
